body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.center-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vh-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-section {
  background-color: #f1f3ff;
}

/* ********** NAVIGATION ********** */

.fixed-position {
  position: fixed;
  top: 0;
  z-index: 100;
}

.navigation-section .navbar-brand img {
  margin-left: 15px;
  height: 36px;
}

.navigation-section .navbar-nav .offcanvasRightLabel a:hover {
  color: blue !important;
}
@media (max-width: 768px) {
  .offcanvas-end {
    width: 190px !important;
  }
}
.nav-position {
  position: relative;
  top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000 !important;
  border-color: #000000;
}

.btn-register {
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

.btn-register:hover {
  opacity: 60%;
}

.navbar-toggler img {
  width: 30px;
  height: auto;
}

/* Banner */

.first-section {
  padding-top: 97px;
}

.first-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica;
  padding-bottom: 40px;
}

.first-desc h1 {
  max-width: 568px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.first-desc p {
  max-width: 468px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.btn-rent-now {
  width: 140px;
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

.btn-rent-now:hover {
  opacity: 60%;
}

.hero-image {
  padding: 0;
}

.img-car {
  width: 49.46vw;
}

@media only screen and (min-width: 0) and (max-width: 1500px) {
  .img-car {
    width: 100%;
  }
}
/* our services */
.our-services-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.img-service {
  margin-bottom: 50px;
  padding: 0 2rem;
}

.img-service img {
  max-width: 100%;
  float: right;
}

.desc-service {
  max-width: 558px;
  padding: 15px;
}
.desc-service h2 {
  font-weight: bolder;
}
.desc-service .fa-ul {
  margin-left: 25px;
  line-height: 30px;
}
/* ********** WHY US ********** */

.why-us-section h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 16px;
  width: 100%;
  align-items: center;
}

.why-us-section .container h2,
p {
  align-items: center;
}

.why-us-section p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .contents {
    text-align: center;
  }
}
/* @media (min-width: 768px) {
    .why-us-section .container .h2 .p {
      align-items: center;
      width: 100%;
      display: block;
    }
  } */

.card {
  width: 278px;
  height: 216px;
  border: 2px solid #d0d0d0;
  border-radius: 8px;
  padding: 24px;
}

.icon-why-us {
  width: 32px;
  height: 32px;
}

.why-us-section .card h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
}

.why-us-section .card p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
/* ********** TESTIMONI ********** */

.testimoni-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimoni-section .text-testimoni h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.testimoni-section .text-testimony p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

.testi-box {
  max-width: 619px;
  background-color: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.testi-box img {
  width: 80px !important;
  height: 80px;
  border-radius: 100%;
}

.text-review {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}

.star {
  display: flex;
  flex-direction: row;
  width: 32px;
}

.testi-box .text-review .star img {
  width: 16px;
  height: 16px;
  margin-bottom: 8px;
}

.testi-box p {
  font-weight: 300 !important;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.testi-box h5 {
  font-weight: 1000 !important;
  font-size: 14px;
  line-height: 20px;
}

.owl-prev,
.owl-next {
  margin: 10px;
}

.next-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.next-slide:hover {
  color: white;
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
}

.prev-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.prev-slide:hover {
  color: white;
  background-color: #5cb85f;
  border: 1px solid #5cb85f;
}

.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.kotak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d28a6;
  width: 100%;
  min-height: 326px;
  color: #ffffff;
  border-radius: 13px;
  padding: 30px;
}

.kotak h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.kotak p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 52px;
  max-width: 470px;
}

/* ********** FAQ  ********** */

.faq-section {
  margin-top: 100px;
}

.faq-intro h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.faq-intro p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.list-questions {
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.accordion-box {
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  margin-bottom: 16px;
}

/* ********** FOOTER ********** */

.footer-section {
  margin-top: 100px;
  margin-bottom: 76px;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.footer-section h5 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer-section .navigation li {
  list-style: none;
  margin-bottom: 16px;
}

.footer-section .navigation a {
  position: relative;
  right: 32px;
}

.footer-section .navigation li a {
  color: #000000;
  text-decoration: none;
}

.footer-section .navigation li a:hover {
  color: blue;
  text-decoration: none;
}

.footer-section .sosmed li {
  position: relative;
  left: -30px;
  float: left;
  list-style: none;
  padding-right: 16px;
  padding-bottom: 16px;
}

.footer-section .sosmed li img:hover {
  opacity: 60%;
}

.address {
  display: block;
}

.footer-section .copyright img {
  width: 120px;
}
